<template>
    <div class="columns">
        <div class="column is-half is-offset-one-quarter task-list">
            <div class="box">
                <h2 class="title">My To Do List</h2>
                <hr>
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input" type="text" @keyup.enter="createTask()" placeholder="New task" v-model="task.body">
                    </div>
                </div>
                <div class="tabs is-centered">
                    <ul>
                        <li :class="{'is-active':isActive('current')}">
                            <h3 class="title">
                                <a href="#" @click.prevent="fetchTaskList()">
                                    Current task
                                </a>
                            </h3>
                        </li>
                        <li :class="{'is-active':isActive('complete')}">
                            <h3 class="title">
                                <a href="#" @click.prevent="fetchTaskList(1)">
                                    Completed tasks
                                </a>
                            </h3>
                        </li>
                    </ul>
                </div>
                <div v-if="list.length !== 0">
                <div class="card" v-for="(task,index) in list" :key="index">
                    <header class="card-header">
                        <p class="card-header-title">
                            Task {{ task.id }}
                        </p>
                    </header>
                    <div class="card-content"  v-if="task.body">
                        <div class="content">
                           <a href="#" class="card-header-icon" aria-label="more options"
                            @click.prevent="completeTask(task.id)">
                            <span class="icon" v-if="!task.complete">
                               <i class="fa fa-circle-o icon" aria-hidden="true"></i>
                            </span>
                            <span class="icon" v-else>
                                <i class="fa fa-check-circle icon" aria-hidden="true"></i>
                            </span>

                        </a> <h5>{{ task.body }}  <a  @click.prevent="deleteTask(task.id)"><i class="fa fa-times icon" aria-hidden="true"></i></a></h5>
                        </div>
                    </div>
                </div>
                </div>
                <div class="no_list" v-else>No List Found</div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                list: [],
                task: {
                    id: '',
                    body: '',
                    complete: ''
                },
                activeItem: 'current'
            }
        },
        created() {
            this.fetchTaskList();
        },
        methods: {
            fetchTaskList(complete = null) {
                if (complete === null) {
                    var url = 'current_tasks';
                    this.setActive('current');
                } else {
                    var url = 'completed_tasks';
                    this.setActive('complete');
                }
                axios.get(url).then(result => {
                    this.list = result.data
                });
            },
            isActive(menuItem) {
                return this.activeItem === menuItem;
            },
            setActive(menuItem) {
                this.activeItem = menuItem;
            },
            createTask() {
                axios.post('create_task/', this.task).then(results=> {
                    this.task.body = '';
                    this.fetchTaskList();
                }).catch(err => {
                    console.log(err);
                });
            },
            deleteTask(id) {
                axios.post('delete_task/' + id).then(result => {
                    this.fetchTaskList();
                }).catch(err => {
                    console.log(err);
                });
            },
            completeTask(id) {
                axios.post('complete_task/' + id).then(result => {
                    this.fetchTaskList();
                }).catch(err => {
                    console.log(err);
                });
            }
        }
    }
</script>
<style>
    .fa.fa-edit{
        float: right;
    }
    .box {
        padding: 8px;   
    }
    .tabs li {
        display: block;
        width: 50%;
    }
    .title {
        color: #363636;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.125;
    }
    p.card-header-title {
        width: 95%;
        float: left;
    }
    a.card-header-icon {
        float: left;
        width: 62px;
        padding-top: 5px;
        padding-left: 0px;
        margin-left: 0px;
    }
    i.icon{
        padding-left: 0;
        margin-top: -11px;
        font-size: 30px;
        font-weight: 300;
        color: #666;
    }
    .no_list{
        text-align: center;
        font-size: 20px;
    }
    i.fa.fa-times.icon {
        float: right;
        font-size: 21px;
        margin-top: 3px;
    }
</style>  